.markdown {
  @apply text-base leading-[1.8];
}

.markdown p,
.markdown blockquote
.markdown ul,
.markdown ol {
  @apply my-[1em];
}

.markdown ul,
.markdown ol {
  @apply pl-[1.5em];
}

.markdown ul {
  @apply list-disc;
}

.markdown ol {
  @apply list-decimal;
}

.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  @apply font-semibold leading-snug m-[2em_0_1em];
}

.markdown h2 {
  @apply text-[1.8em];
}

.markdown h3 {
  @apply text-[1.6em];
}

.markdown h4 {
  @apply text-[1.4em];
}

.markdown h5 {
  @apply text-[1.2em];
}

.markdown h6 {
  @apply text-[1em];
}


.markdown code:not([class*="language-"]) {
  padding: 0.05em 0.2em 0.1em;
  box-shadow: 0 0 0 1px #e4e7eb;
  border-radius: 0.02rem;
  background-color: rgba(38, 50, 56, 0.04);
  color: #b17d00;
  font-family: Courier, monospace;
  word-break: break-word;
  vertical-align: middle;
}

.markdown table {
  width: 100%; /* Full width */
  border-collapse: collapse; /* Merges borders */
  margin-bottom: 1rem; /* Optional spacing below table */
}

.markdown th,
.markdown td {
  padding: 0.5rem 0.75rem;
  border: 1px solid #e5e7eb;
}

.markdown th {
  background-color: #dddddd;
  font-weight: 600;
}

.markdown tr:nth-child(even) {
  background-color: #fafafa;
}

.markdown tr:hover {
  background-color: #f1f5f9;
}
